<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<a href='http://127.0.0.1:5000/id/3'>Репчатый лук</a><br>
<a href='http://127.0.0.1:5000/id/4'>Свекла</a><br>
<a href='http://127.0.0.1:5000/id/5'>Картофель</a><br>
<a href='http://127.0.0.1:5000/id/6'>Морковь</a><br>
<a href='http://127.0.0.1:5000/id/7'>Капуста белокочанная</a><br>
<a href='http://127.0.0.1:5000/id/8'>Чеснок</a><br>
<a href='http://127.0.0.1:5000/id/9'>Петрушка зеленая</a><br>
<a href='http://127.0.0.1:5000/id/10'>Томатная паста</a><br>
<a href='http://127.0.0.1:5000/id/11'>Уксус яблочный</a><br>
<a href='http://127.0.0.1:5000/id/12'>Лавровый лист</a><br>
<a href='http://127.0.0.1:5000/id/13'>Сахар-песок</a><br>
<a href='http://127.0.0.1:5000/id/14'>Соль</a><br>
<a href='http://127.0.0.1:5000/id/15'>Перец черный</a><br>
<a href='http://127.0.0.1:5000/id/16'>Сметана 15%</a><br>
</body>
</html>
